@model Subject
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
    <input type="text" asp-for="@Model.Name" class="form-control" /> 
    </div>
    <input class="btn btn-success m-2" type="submit" value="Create" />
</form>